@inherits LayoutComponentBase
@inject IJSRuntime _js
@inject ISvcStatusBar _svcStatusBar
@inject NavigationManager _nm
@inject RefreshViewState RefreshViewState
@inject IServiceProvider ServicesProv
<style>
    .services{
        position:absolute;
        margin: 20px;
        top: 100px;
        width: -webkit-fill-available;
        border-radius:12px !important;
    }

    .service-item .icon-box {
        background-color: #eef3ff;
        border-radius: 12px;
        width: 64px;
        height: 64px;
        margin: 0 auto 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service-item .icon-box .material-symbols-outlined {
        font-size: 32px;
        color: #4a6cf7;
    }

    .service-item .label {
        font-weight: 500;
        font-size: 14px;
        color: #333;
    }

    .mentor-card {
        width: 180px;
        background-color: #fff;
        border-radius: 15px 15px 0px 0px !important;
    }

    .mentor-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .avatars {
        display: flex;
    }

    .avatar {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-left: -8px;
        background-color: #eee;
    }


    .top-mentor-container{
        position: relative;
        top: 130px;
        padding-left: 20px;
    }

    .top-mentor-container  .title{
        font-family:az_ea_font, "Segoe UI", az_font, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height:19px;
        margin-bottom: 10px;
    }

    .list-mentor{
        display:flex;
        gap:6px;
    }
    .mentor-detail{
        top: -20px;
        width: 184px;
        border-radius: 15px;
        background-color: #eef3ff;
        border: none;
    }
    .mentor-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

</style>
<div class="card services shadow-sm p-4 mb-4 bg-white rounded text-center">
    <div class="row row-cols-2 text-center g-3">
        <div class="col">
            <div class="service-item">
                <div class="icon-box">
                    <span class="material-symbols-outlined">supervisor_account</span>
                </div>
                <div class="label">Mentor</div>
            </div>
        </div>
        <div class="col">
            <div class="service-item">
                <div class="icon-box">
                    <span class="material-symbols-outlined">task</span>
                </div>
                <div class="label">Latihan Soal</div>
            </div>
        </div>
    </div>
</div>
<div class="top-mentor-container">
    <div class="title">Mentor Terbaik</div>
    <div class="list-mentor">
        @foreach (var item in DtGuru)
        {
            <div>
                <div class="mentor-card shadow-sm overflow-hidden text-start">
                    <img src="@item.UrlFoto" class="mentor-img-top" alt="Foto Mentor">
                </div>
                <div class="card p-3 mentor-detail">
                    <div class="mb-1" style="font-weight:500;">@item.Nama</div>
                    <div class="text-muted small mb-2">@item.Alamat</div>

                    <div class="mentor-info">
                        <div class="d-flex align-items-center gap-2">
                            <div class="avatars">
                                <img src="https://randomuser.me/api/portraits/men/12.jpg" class="avatar" />
                                <img src="https://randomuser.me/api/portraits/women/31.jpg" class="avatar" />
                            </div>
                            <span class="small text-muted">@($"{item.JumlahKlien} klien")</span>
                        </div>

                        <div class="d-flex align-items-center gap-1 mb-2">
                            <span class="material-symbols-outlined text-warning" style="font-size: 24px;">star_half</span>
                            <span class="small">@item.Rating</span>
                        </div>
                    </div>
                </div>
            </div> 
        }
    </div>
</div>



@code {
    public bool IsLoading_DtGuru { get; set; } = false;
    public bool IsSkeletonAktif { get; set; } = false;
    private int TinggiHeaderTersembunyi = 0;
    private int TinggiHeaderSticky = 0; // Tambahkan ini untuk menyimpan tinggi header sticky
    private bool IsScrollAktif = true;

    public List<uimT0Guru> DtGuru { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        DtGuru.Add(new uimT0Guru
            {
                Nama = "Geni Santika",
                Alamat = "Jl. Raya No. 1",
                Rating = 4.5,
                Usia = 27,
                JumlahKlien = 15,
                UrlFoto = "https://randomuser.me/api/portraits/women/39.jpg"
            });
        DtGuru.Add(new uimT0Guru
            {
                Nama = "M. Afifah",
                Alamat = "Jl. Raya No. 51",
                Rating = 4.2,
                Usia = 26,
                JumlahKlien = 10,
                UrlFoto = "https://randomuser.me/api/portraits/men/40.jpg"
            });
    }
}
